#root {
  width: 100%;
  height: 100%;
}

.App {
  //width: 100%;
  height: 100%;
  background-color: #bbc;
  padding: 0 5%;
}

.my-carousel {

  .item {
    .carousel-slider .control-arrow {
      display: none;
    }

    .description {
      color: rgba(108, 99, 126, 1);
      font-size: calc((70vw) / 7);
    }

    .image {
      border: solid 1px rgba(108, 99, 126, 0.6) !important;
      border-radius: 15px;
    }
  }
}
