@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Book-Italic.eot');
  src: local('Mark Book-Italic'), local('Mark-Book-Italic'),
  url('./assets/fonts/Mark-Book-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Book-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Book-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Light.eot');
  src: local('Mark Light'), local('Mark-Light'),
  url('./assets/fonts/Mark-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Light.woff') format('woff'),
  url('./assets/fonts/Mark-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Medium-Italic.eot');
  src: local('Mark Medium-Italic'), local('Mark-Medium-Italic'),
  url('./assets/fonts/Mark-Medium-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Medium-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Black-Italic.eot');
  src: local('Mark Black-Italic'), local('Mark-Black-Italic'),
  url('./assets/fonts/Mark-Black-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Black-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Hairline.eot');
  src: local('Mark Hairline'), local('Mark-Hairline'),
  url('./assets/fonts/Mark-Hairline.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Hairline.woff') format('woff'),
  url('./assets/fonts/Mark-Hairline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Book.eot');
  src: local('Mark Book'), local('Mark-Book'),
  url('./assets/fonts/Mark-Book.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Book.woff') format('woff'),
  url('./assets/fonts/Mark-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Light-Italic.eot');
  src: local('Mark Light-Italic'), local('Mark-Light-Italic'),
  url('./assets/fonts/Mark-Light-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Light-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-SmallCaps-Regular.eot');
  src: local('Mark SmallCaps-Regular'), local('Mark-SmallCaps-Regular'),
  url('./assets/fonts/Mark-SmallCaps-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-SmallCaps-Regular.woff') format('woff'),
  url('./assets/fonts/Mark-SmallCaps-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Heavy-Italic.eot');
  src: local('Mark Heavy-Italic'), local('Mark-Heavy-Italic'),
  url('./assets/fonts/Mark-Heavy-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Heavy-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Heavy-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Thin-Italic.eot');
  src: local('Mark Thin-Italic'), local('Mark-Thin-Italic'),
  url('./assets/fonts/Mark-Thin-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Thin-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Thin-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Regular.eot');
  src: local('Mark Regular'), local('Mark-Regular'),
  url('./assets/fonts/Mark-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Regular.woff') format('woff'),
  url('./assets/fonts/Mark-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Bold.eot');
  src: local('Mark Bold'), local('Mark-Bold'),
  url('./assets/fonts/Mark-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Bold.woff') format('woff'),
  url('./assets/fonts/Mark-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Heavy.eot');
  src: local('Mark Heavy'), local('Mark-Heavy'),
  url('./assets/fonts/Mark-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Heavy.woff') format('woff'),
  url('./assets/fonts/Mark-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Bold-Italic.eot');
  src: local('Mark Bold-Italic'), local('Mark-Bold-Italic'),
  url('./assets/fonts/Mark-Bold-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Bold-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Regular-Italic.eot');
  src: local('Mark Regular Italic'), local('Mark-Regular-Italic'),
  url('./assets/fonts/Mark-Regular-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Regular-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Regular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Medium.eot');
  src: local('Mark Medium'), local('Mark-Medium'),
  url('./assets/fonts/Mark-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Medium.woff') format('woff'),
  url('./assets/fonts/Mark-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-SmallCaps-Black.eot');
  src: local('Mark SmallCaps-Black'), local('Mark-SmallCaps-Black'),
  url('./assets/fonts/Mark-SmallCaps-Black.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-SmallCaps-Black.woff') format('woff'),
  url('./assets/fonts/Mark-SmallCaps-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Extralight.eot');
  src: local('Mark Extralight'), local('Mark-Extralight'),
  url('./assets/fonts/Mark-Extralight.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Extralight.woff') format('woff'),
  url('./assets/fonts/Mark-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Black.eot');
  src: local('Mark Black'), local('Mark-Black'),
  url('./assets/fonts/Mark-Black.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Black.woff') format('woff'),
  url('./assets/fonts/Mark-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Hairline-Italic.eot');
  src: local('Mark Hairline-Italic'), local('Mark-Hairline-Italic'),
  url('./assets/fonts/Mark-Hairline-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Hairline-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Hairline-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Extralight-Italic.eot');
  src: local('Mark Extralight Italic'), local('Mark-Extralight-Italic'),
  url('./assets/fonts/Mark-Extralight-Italic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Extralight-Italic.woff') format('woff'),
  url('./assets/fonts/Mark-Extralight-Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Mark';
  src: url('./assets/fonts/Mark-Thin.eot');
  src: local('Mark Thin'), local('Mark-Thin'),
  url('./assets/fonts/Mark-Thin.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Thin.woff') format('woff'),
  url('./assets/fonts/Mark-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'FF Mark Regular';
  src: url('./assets/fonts/Mark-Regular.eot');
  src: url('./assets/fonts/Mark-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Mark-Regular.woff') format('woff'),
  url('./assets/fonts/Mark-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABeeZee';
  src: url('./assets/fonts/ABeeZee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABeeZeeItalic';
  src: url('./assets/fonts/ABeeZee-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
